body, html {
            background-color: black;
            height: 100%;
        }

        * {
            margin: 0;
            padding: 0;
        }

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 25px;


        }

        .iconcolor {
            color: white;

        }

        svg {
            fill: white;
            stroke: white;
            width: 25px;
        }

        ul li {
            display: flex;
            align-items: center;
            column-gap: 15px;
            font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;


        }

        .icons {
            display: flex;
            flex-direction: column;
            gap: 40px;
        }

        #instalogo{
            width: 110px;

        }

        .more{
            position: absolute;
            bottom: 0;
            padding-bottom: 25px;
        }

        .appname{
            /* padding: 20px; */
            margin-top: 35px;
        }

        

        .container{
            display: flex;
            /* flex-direction: column; */
            flex-direction: row;
            height: 100%;
            gap: 65px;
        }

        .bar{
            background-color: rgba(72, 72, 72, 0.503);
            
            width: 2px;
            color: white;
        }

        .firstsec{
            padding: 25px;
        }