body, html {
            background-color: black;
            height: 100%;
        }

        * {
            margin: 0;
            padding: 0;
        }

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 25px;


        }

        .iconcolor {
            color: white;

        }

        svg {
            fill: white;
            stroke: white;
            width: 25px;
        }

        ul li {
            display: flex;
            align-items: center;
            column-gap: 15px;
            font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;


        }

        .icons {
            display: flex;
            flex-direction: column;
            gap: 40px;
        }

        #instalogo{
            width: 110px;

        }

        .more{
            position: absolute;
            bottom: 0;
            padding-bottom: 25px;
        }

        .appname{
            /* padding: 20px; */
            margin-top: 35px;
        }

        

        .container{
            display: flex;
            /* flex-direction: column; */
            flex-direction: row;
            height: 100%;
            gap: 65px;
        }

        

        .firstsec{
            padding: 25px;
            width: 170px;
            position: relative;
        }

        .bar{
            background-color: rgba(72, 72, 72, 0.503);
            /* background-color: red; */
            width: 2px;
            height: 100vh;
            color: rgb(208, 11, 11);
            position: fixed;
            top: 0px;
            left: 200px;
            /* margin: auto; */
            /* position: sticky; */
        }



         .stories {
            background-color: rgb(0, 0, 0);
            width: 600px;
            height: 100px;
            margin: 0px 40px;

            overflow: auto;
            white-space: nowrap;
        }

        

        .user1 img {
            width: 70px;
            height: 70px;
            border-radius: 100%;
            object-fit: cover;
            display: block;
            flex: 0 0 auto;

        }

        .users {
            padding: 6px;
            display: flex;
            gap: 10px;
            flex-shrink: 0;


        }

        .user1 {
            padding: 6px;
            height: 70px;
            width: 70px;
            border-radius: 100%;
            background: conic-gradient(#f9ce34 0%,
                    #f9ce34 20%,
                    #ee2a7b 50%,
                    #6228d7 75%,
                    #ff5a00 100%);


        }

        .postcontainer, .videobtns{
            border: 1px solid rgba(65, 64, 64, 0.637);
            width: 420px;
            height: 70vh;
            padding: 5px 20px;
            box-sizing: border-box;
            position: relative;
            z-index: 0;
        }

        .post1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .video{
            height: inherit;
            width: 380px;
        }

        .white{
            color: white;
        }

        .proimg{
            width: 50px;
            height: 50px;
            border-radius: 70px;
            
        }

        .profileinfo{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            width: 420px;
            padding: 10px;

        }

        .text{
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 2px;
        }

        .svg{
            position: absolute;
            right: 10px;
        }

        .interact{
            padding: 10px;
            width: 400px;
            display: flex;
            justify-content: space-between;
        }

        .impressions{
            display: flex;
            gap: 10px;
        }

        .impressions svg{
            width: 30px;
        }

        .proname{
            font-weight: bold;
        }

        .seemore{
            color: gray;
        }

        .entercomment{
            background-color: rgba(45, 41, 41, 0.126);
            color: white;
            border: none;
            height: 18px;
            padding: 7px 0px;
            width: 370px;
            border-radius: 5px;
        }

        .name_caption{
            padding: 10px;
            width: 400px;
        }

        .commentsection{
            color: gray;
             padding: 10px;
            width: 400px;
            font-size: 15px;
        }

        .emoji svg{
            width: 15px;
            height: 15px;
        }

        .count{
           padding: 10px;
            width: 400px; 
        }

       .fix{
        position: fixed;
       }

       .btn{
        background: none;
        border: none;;
        background-color: transparent;
        
       }

    

       

       .videobtns{
        position: absolute;
        top: 0px;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;

       }

       .btn{
        scale: 1.2;
       }


       .volume{
        position: absolute;
        align-self: flex-end;
        right: 0px;
        bottom: 30;
        width: 75px;

       }

       /* .volume button{
        position: absolute;
        /* z-index: 2; */
        top: 0;
        left: 0;
       } */

      